[submodule "ip/ssrfft_16x4096"]
	path = ip/ssrfft_16x4096
	url = https://github.com/MazinLab/ssrfft_16x4096
[submodule "ip/mkidgen3_blocks"]
	path = ip/mkidgen3_blocks
	url = https://github.com/MazinLab/mkidgen3_blocks.git
